th{
  padding-right: 10px;
}

th:last-of-type{
  padding-right: 0;
}

tbody td{
  padding-top: 10px;
  padding-right: 10px;
}

tbody td:last-of-type{
  padding-right: 0;
}

input[type="text"]{
  width: 90px;
}