.card{
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 10px;
    background-color: #caf6ff;
    border-radius: 5px;
}

.card.selected{
    background-color: #54c0b1;
}

.img-wrapper{
    display: flex;
    gap: 15px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    margin: 0;
}

img{
    width: 100px;
    border-radius: 5px;
}

.product-name{
    font-size: 36px;
}

.price{
    font-size: 28px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.instock{
    font-size: 20px;
}

.delete-btn{
    padding: 4px 15px;
    border: solid 2px #0f5c6b;
    border-radius: 8px;
    background-color: #54cae2;
}

.delete-btn:hover{
    background-color: #18788e;
    color: #fff;
}